@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: 'vazir';
  src: url(../../public/font/Vazirmatn-VariableFont_wght.ttf);
  font-display: swap;
}

body{
  font-family: "vazir";
}

.res{
  @apply container mx-auto px-44 mt-10 max-md:mt-5 max-xl:px-24 max-lg:px-8
}